<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Login</title>
</head>
<body>
    <div class="wrapper">
        <div class="logo"> <img src="/static/img/logo2.png" alt=""> </div>
        <div class="text-center mt-4 name"> Login </div>
        <form class="p-3 mt-3" method="POST" action="{% url 'login'%}">
            {% csrf_token %}
           
            <div class="form-field d-flex align-items-center">{{ form.email }} </div>
            <div class="form-field d-flex align-items-center">{{ form.password }} </div>
            
            <button class="btn mt-3">Login</button>
        </form>
    </div>
</body>
</html>
